# Node
node_modules/
uploads/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

# React
.env
.env.*.local
*.local
coverage/
.cache/
.vite/
.next/
out/
public/build/

# TypeScript
*.tsbuildinfo

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.eggs/
*.pyo
.Python
.env
.venv/
env/
nlp_env/
venv/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Others
*.swp
*.swo
